<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel='stylesheet'
          type='text/css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            padding: 0px;
            margin: 0px;
            font-family: 'Roboto', sans-serif;
            background-color: #fcfcfc;
            font-size: 13px;
        }

        .main-div {
            height: 100%;
        }

        .container-main {
            background-color: #eee;
            padding-right: 60px;
            padding-left: 60px;
            border-radius: 6px;
            height: 100%;
            padding-top: 30px;
            padding-bottom: 48px;
            background-color: #fff;
        }
        .form-group .col-sm-6 label {
            margin-bottom: 0px;
            font-weight: 500;
        }
        .form-group .col-sm-6 {
            margin-bottom:20px;
        }
        .navbar-static-top {
            margin-bottom: 0px;
            background-color: #fcfcfc;
        }
        h3 {
            margin-top: 0px;
        }
        input, select {
            border-radius: 2px !important;
            box-shadow: none !important;
            height:28px!important;
        }
        .channelsection {
            background-color: #fafafa;
            padding: 10px 15px;
            box-sizing: border-box;
            border: 1px solid #e7e7e7;
            margin: 0px 15px 15px 15px;
        }
            .channelsection h5 {
                padding-left: 15px;
            }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="~/images/new.png" style="height:100%;display: inline-block;margin-right: 10px;"/><span style="font-size: 14px;">API TESTING</span></a>
            </div>
        </div>
    </nav>


    <div class="main-div container">


        <div class="container-main">
            @RenderBody()
        </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>       
        $(document).ready(function () {
            $('.datepicker').daterangepicker({
                opens: 'left',
                singleDatePicker: true,
                timePicker: true,
                locale: {
                    format: 'M/DD hh:mm A'
                }
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
            $('#EmailDiv').hide();
            $('#FacebookDiv').hide();
            $("#seeAnotherField").change(function () {
                if ($(this).val() == "SMS") {
                    $('#SMSDiv').show();
                    $('#SMSDiv1').show();
                    $('#EmailDiv').hide();
                    $('#FacebookDiv').hide();

                } else if ($(this).val() == "facebook") {
                    $('#SMSDiv').hide();
                    $('#SMSDiv1').hide();
                    $('#EmailDiv').hide();
                    $('#FacebookDiv').show();

                } else {
                    $('#SMSDiv').hide();
                    $('#SMSDiv1').hide();
                    $('#EmailDiv').show();
                    $('#FacebookDiv').hide();

                }
            });
        });
    </script>
</body>

</html>